<h1>Process</h1>
<p>Add, Edit or Delete Processes:</p>
<a routerLink="addProcess" class="btn btn-sm btn-success mr-1">Create Process</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width:30%">ID Process</th>
            <th style="width:30%">Name</th>
            <th style="width:30%">Description</th>
            <th style="width:10%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let process of processes">
            <td>{{process.id}}</td>
            <td>{{process.name}}</td>
            <td>{{process.description}}</td>
            <td style="white-space: nowrap">
                <a routerLink="editProcess/{{process.id}}" class="btn btn-sm btn-primary mr-1">Edit</a>
                <button (click)="deleteProcess(process.id)" class="btn btn-sm btn-danger btn-delete-account" [disabled]="process.isDeleting">
                    <span *ngIf="process.isDeleting" class="spinner-border spinner-border-sm"></span>
                    <span *ngIf="!process.isDeleting">Delete</span>
                </button>
            </td>
        </tr>
        <tr *ngIf="!processes">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>